body {
  background-color: #9266ff;
}

.card-container {
  width: 40rem;
  height: 40rem;
  background-color: #3f3160;
}

.title-input {
  width: 25rem;
  border-radius: 10px;
  border-color: antiquewhite;
  margin: 1rem;
  padding: 0.5rem;
}

.submit-button {
  width: 8rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 10px;
}

.custom-card-body {
  background-color: #bf07ac;
  width: 30rem;
  height: 3rem;
  margin: 1rem auto;
  border-radius: 10px;
}
